* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** BODY ***/

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*** NAV ***/

.NavBar nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

.NavBar nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

.NavBar nav ul a {
    line-height: 80px;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.NavBar a:hover {
    color: grey;
    transition: all 0.4s;
}

#NavBar {
    width: 100%;
    height: 100vh;
    background: url(/img/fondo-proyecto.jpg);
    background-size: cover;
    background-position: left;
}

*::placeholder {
    color: white;
}

#form1 {
    display: inline-block;
    text-align: left;
    margin-top: 200px;
    height: 265px;
    width: auto;
    border-radius: 25px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.29);
}

#form1 p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    margin-top: -20px;
}

input {
    padding: 10px;
    margin-left: 5px;
}

#correo {
    border-radius: 15px;
    width: 390px;
    border: none;
    background-color: rgba(207, 207, 207, 0.4);
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    padding-left: 10px;
    height: 35px;
}

#correo:focus {
    outline: 1px solid #0077ff;
    transition: 400ms;
}

#passwd {
    border-radius: 15px;
    border: none;
    width: 390px;
    background-color: rgba(207, 207, 207, 0.4);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    padding-left: 10px;
    height: 35px;
}

#passwd:focus {
    outline: 1px solid #0077ff;
    transition: 400ms;
}

input {
    padding-left: 10px;
}

button {
    border: 2px solid rgb(207, 207, 207, 0.8);
    background-color: transparent;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 80px;
    padding: 5px;
    display: inline-block;
}

button:hover {
    border-color: #0077ff;
    color: #fff;
    background-color: #0077ff;
    transition: 400ms;
}

.checkbtn {
    font-size: 30px;
    color: white;
    padding-right: -10px;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 1024px) {
    #NavBar nav ul li a {
        font-size: 17px;
        padding: 12px 13px;
    }

    .bienvenida h1 {
        font-size: 30px;
        margin-top: 280px;
    }

    #form1 {
        height: 250px;
        width: 495px;
    }
}

@media screen and (max-width: 768px) {
    .checkbtn {
        display: block;
    }

    #NavBar nav ul li {
        display: block;
        text-align: center;
        margin: 15px 0;
        line-height: 25px;
    }

    #NavBar nav ul li a {
        font-size: 20px;
    }

    #NavBar a:hover {
        color: rgba(53, 53, 53, 0.8);
        transition: all 0.4s;
    }

    #NavBar nav ul {
        position: fixed;
        display: block;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 1s;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #form1 {
        height: 250px;
        width: 400px;
    }

    input {
        padding: 10px;
        margin-left: 5px;
    }

    #correo {
        border-radius: 15px;
        width: 390px;
        border: none;
        background-color: rgba(207, 207, 207, 0.4);
        color: white;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 4px;
        height: 35px;
    }

    #correo:focus {
        outline: none;
    }

    #passwd {
        border-radius: 15px;
        border: none;
        width: 390px;
        background-color: rgba(207, 207, 207, 0.4);
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 4px;
        height: 35px;
    }

    #passwd:focus {
        outline: none;
        padding-left: 5px;
    }
}
